language: node_js
node_js:
- '12'
branches:
  only:
  - master
cache:
  directories:
  - node_modules
before_install:
- npm update
install:
- npm install
script:
- npm test
after_script:
  - COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls