.attrSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

.attrImageSection {
  flex: auto auto 0 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attrListSection {
  float: right;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  text-align: left;
}

.attributeList > ul {
  list-style-type: none;
}

.attributList > ul > li {
  position: relative;
}

.item {
  position: relative;
  cursor: pointer;
  padding: 10px 40px;
}

.activeAttr {
  position: relative;
  padding: 24px 36px;
  box-shadow: 0 2px 10px 0 rgba(33, 33, 33, 0.1);
  background-color: #fafafa;
  overflow: hidden;
}

.itemHeader {
  font-weight: bold;
}

.itemDescription {
  display: none;
}

.activeItemDescription {
  display: block;
}

.activeSelectorActive {
  display: block;
  position: absolute;
  top: 0;
  left: -23px;
  width: 28px;
  border-radius: 5px;
  height: 100%;
}

.activeSelector {
  display: none;
  position: absolute;
  top: 0;
  left: -23px;
  width: 28px;
  border-radius: 5px;
  height: 100%;
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 32px;
  left: 0;
}

.activeAttr .arrowDown {
  display: none;
}
